@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background-color:black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}